<% include partials/header %>
<div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To YelpCamp!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/campgrounds">View All Campgrounds</a>
             </p>
         </div>
     </header>

<% include partials/footer %>