body {
	background: #e3e3e3;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0px;
}

.thumbnail .caption {
	padding: 8px;
}

#delete-form {
	display: inline;
}

.form {
	width: 30%; 
	margin: 25px auto;
}

.form-title {
	text-align: center;
}